* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  height: 50px;
  margin: 1%;
}

#trybewarts-header-title {
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

main {
  display: flex;
}

#evaluation-form {
  flex-direction: column;
}

form {
  width: 675px;
}
